In [1]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_columns', None)

In [9]:
df=pd.read_csv('loan.csv', usecols=["BsmtQual","FireplaceQu","GarageType","SalePrice"  ])

In [12]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [15]:
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [16]:
df.shape

(1460, 4)

In [21]:
# We can delete the missing rows from the coplete data

df.dropna(inplace=True)

In [22]:
df.isnull().sum()

BsmtQual       0
FireplaceQu    0
GarageType     0
SalePrice      0
dtype: int64

In [ ]:
# least used method