In [1]:
# Handle integer missing values through capture NaN values with a new feature

In [2]:
# It wirks well when data are not missing at random   (MNAR)
# MNAR where missing data have a relationship with other values observed within dataset

In [11]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('titanic.csv', usecols=['Age','Fare','Survived'])

In [8]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [12]:
# create new column to capture AGE nan values
df["age_nan"]= np.where(df.Age.isnull(),1,0)

In [19]:
#  fill Nan values with median in Age column
df['Age'].fillna(df.Age.median(), inplace=True)

In [21]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
age_nan     0
dtype: int64